<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <title>Add To Do</title>
</head>
<body>

    <form action="/addtodo" method="post">
        <input type="text" name="todo" id="">
        <input type="text" name="content" id="">
        <button type="submit">Add</button>
    </form>
    

    <% todos.forEach((element, index) => { %>
       <h1><%= element.todo %></h1>
       <h1><%= element.content %></h1>
       <form action="/todo/delete" method="post">
        <input name="index" type="text" value="<%= index %>" hidden>
        <button>Delete</button>
       </form>
       
       <form action="/todo/edit/<%= index %>" method="get">
        <button>Edit</button>
       </form>
       
    <% }) %>
</body>
</html>